@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

$fontFamily: 'Montserrat', sans-serif;
$fontSize: 16px;
$text-color: rgb(85, 85, 85);
$plava: rgb(3, 169, 244);
$transition: all .3s ease;
$white: rgb(255, 255, 255); 
$zelena: rgb(91, 182, 43); 
$svetloZelena:  rgb(221, 212, 143);
$pozadina: #f7f8f9;